/* Escribe acá tus estilos*/
*{
	font-family: 'Open Sans', sans-serif;
}

body{
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

header h1{
	font-size: 40px;
	background-color: #CFEBF9;
	color: #3A708B;
	text-align: center;
	padding: 30px;
	margin: 0;
}

#formulario{
	background-color:#CFEBF9 ;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	margin-top: 20px;
}

#formulario p{
	color: #3A708B;
	font-size: 20px;
}

.formulario-te label{
	color: #94B2E3;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	display: block;
	margin: 8px 0;
}
.formulario-te select, 
.formulario-te input,
.formulario-te button{
	display: block;
	width: 100%;
	padding: 10px;
	background-color: rgba(255,255,255, 0.2);
	border: 1px solid rgba(245,245,245, 0.5);
	box-sizing: border-box;
	color: #94CBE3;

}

.formulario-te select option{
	color: #646464;
	padding: 10px;	
}

.formulario-te input[type='checkbox']{
	margin-top: 13px;
	margin-right: 10px;
	background-color: rgba(255,255,255, 0.2);
	width: auto;
	float: left;
}

.special-lab{
	width: auto;
	color: whitesmoke;
	float: left;
}

.formulario-te button{
	background-color: #789A9A;
	border: none;
	font-size: 20px;
	padding: 20px;
	font-weight: bold;
}